@import '~office-ui-fabric-react/dist/sass/References.scss';

.powerBiEmbedReports {
  .container {
    max-width: 800px;
    height: 600px;
    margin: 0px auto;
  }

  .containerNoAudience {
    height: 0px;
  }

  .embeddedReport {
    height: 500px;
  }

  .embeddedReportNoAudience {
    height: 0px;
  }

  .reportTitle {
    font-size: 16px;
    font-weight: bold;
  }

  .carouselContent {
    height: 550px;
  }

  .carouselButtonsContainer {
    display: none;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
  }

}
